@model PlanoContaModel
@{
    ViewData["Title"] = "CadPlanConta";

    
}

<h2>Cadastrar Novo Plano de Conta</h2>

<form asp-controller="PlanoConta" asp-action="CadPlanConta">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Descracao:</label>
        <input type="text" class="form-control" asp-for="Descracao">
        <span asp-validation-for="Descracao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tipo:</label>
        <div class="radio">
            <label><input type="radio" asp-for="Tipo" value="R" unchecked />Receita</label>
        </div>
        <div class="radio">
            <label><input type="radio" asp-for="Tipo" value="D" unchecked />Despesa</label>
        </div>        
    </div>    
        <button type="submit" class="btn btn-block btn-primary">Registrar</button>  
</form>
