
@{
    ViewData["Title"] = "NovoPlanoCot";
}

<h2>Plano de Cotas</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>ID</td>
            <td>Descrição</td>
            <td>Tipo</td>
        </tr>
    </thead>
    @{
        foreach (var item in (List<PlanoContasModel>)ViewBag.ListaPlanoConta)
        {
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-danger">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Descracao.ToString()</td>
                    <td>@item.Tipo.ToString()</td>
                </tr>
            </tbody>
        }
    }
</table>
<button type="button" class="btn btn-block btn-success">Cadastrar conta</button>