<div class="row">
    <div class="col-lg-6">
        <button type"Button" class="btn btn-block btn-primary" onclick="Login()">Efetuar Login</button>
    </div>
    <div class="col-lg-6">
        <button type"Button" class="btn btn-block btn-success" onclick="CriarUsuario()">Criar novo usuário</button>
    </div>
</div>
<script>
    function Login()
    {
        window.location.href = "../Usuario/Login";
    }
    function CriarUsuario()
    {
        window.location.href = "../Usuario/Cadastrar";
    }
</script>


