@model UsuarioModel
@{
    ViewData["Title"] = "Menu_Inicial";
}
<div class="row">
    <div class="col-lg-4 text-center">
        <a href="../Conta/MinhaConta" style="color:#000000">
            <img src="~/images/conta.png" width="40%" />
            <h3>Conta</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="../PlanoConta/MeusPlanosContas" style="color:#000000">
            <img src="~/images/planocontas.png" width="40%" />
            <h3>Plano de contas</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="" style="color:#000000">
            <img src="~/images/registrar_transacao.png" width="40%" />
            <h3>Trasnsações</h3>
        </a>
    </div>
</div>
<br /><br /><br />
<div class="row">
    <div class="col-lg-4 text-center">
        <a href="" style="color:#000000">
            <img src="~/images/extrato.png" width="40%" />
            <h3>Extrato</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="" style="color:#000000">
            <img src="~/images/dashboard.png" width="40%" />
            <h3>Dashboard</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="" style="color:#000000">
            <img src="~/images/ajuda.png" width="40%" />
            <h3>Ajuda</h3>
        </a>
    </div>
</div>

