
@{
    ViewData["Title"] = "Conta";
}

<h2>Minhas Contas</h2>

<table class="table table-bordered" >
    <thead>
        <tr>
            <td>#</td>
            <td>ID</td>
            <td>Nome</td>
            <td>Saldo</td>
        </tr>
    </thead>
    @{
        foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
        {
            <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button> |
                        <button type="button" class="btn btn-primary">Alterar</button>
                    </td>                    
                    <td>@item.Id.ToString()</td>
                    <td>@item.Nome.ToString()</td>
                    <td>R$ @item.Saldo.ToString()</td>
                </tr>
            </tbody>
        }
    }
</table>
<button type="button" class="btn btn-block btn-success" onclick="CadastrarConta()">Cadastrar conta</button>
<script>
    function CadastrarConta()
    {
        window.location.href = "../Conta/CadastraConta";
    }
    function Excluir(id_conta)
    {
        window.location.href = "../Conta/ExcluirConta/" + id_conta;
    }
</script>
